/* Add CSS Styling */
.odd {
    background-color: #ffcece;
    font-family: Verdana, sans-serif
}

.second {
    color: rgb(0, 0, 255);
    font-size: 36px;
}

.third {
    font-size: 24px;
}

.fourth {
    background-color: #67ff67;
    font-size: 24px;
    font-weight: bold;
}